.image {
    max-width: 984px;
    height: 615px;
    margin: 0 auto;
    padding: 148px auto 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__content {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 64px auto;
}