.introduction {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-weight: 400;
}

.introduction__title {
  max-width: 830px;
  margin: 0;
  font-family: "Inter-Black", "Arial", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  text-align: left;
}

.introduction__text {
  max-width: 720px;
  margin: 40px 0 0;
  font-size: 24px;
  line-height: 1.42;
  text-align: left;
}

.introduction__author {
  max-width: 720px;
  margin: 10px 0 0;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
}

.introduction__paragraph {
  max-width: 720px;
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .introduction {
    padding: 88px 24px 0;
  }

  .introduction__title {
    max-width: 707px;
    max-height: 147px;
    font-size: 44px;
    line-height: 1.09;
  }

  .introduction__text {
    margin: 90px 0 34px;
  }
}

@media screen and (max-width: 544px) {
  .introduction {
    padding: 64px 16px 0;
  }

  .introduction__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
