.photos-container {
  background: #2a2c2f;
  color: #fff;
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 92px 24px 80px;
  display: grid;
  gap: 80px;
}
@media screen and (max-width: 544px) {
  .photos-container {
    padding: 64px 16px;
  }
}
